h1{
    color:teal;
    text-align: center;
    font-size: 50px;
    text-decoration: red underline;
}
button{
    background-color: blue;
    color: #ffffff;
    font-size: 200px;
}
p{
    background-color: black;
    color: white;
}